@font-face { 
	font-family: 'Monoxil';
	src: url('../webfonts/monoxil-webfont.svg#webfont');
	src: url('../webfonts/monoxil-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../webfonts/monoxil-webfont.woff') format('woff'),
	     url('../webfonts/monoxil-webfont.ttf') format('truetype'),
	     url('../webfonts/monoxil-webfont.svg#webfont') format('svg');
}


html, body {
	font-size:100%;
	height:auto;
	overflow-x:auto;
}

#container {
	width:auto;
	height:auto;
	position:absolute;
	margin: 3% 3% 0% 3%;
	float: right;
	display: block;
}

.vvvv_img {
	display:inline-block;
	height:auto;
	max-height: 360px;
	max-width: 360px;
	overflow: hidden;
}

.vvvv_img img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.vvvv_img a {
	text-decoration: none;
	padding-top: 20px;
	text-align: center;
	color: #000;
	font-family: "Monoxil", "Menlo", monospace;
	font-size: 12px;
}

.buttons {

}

.buttons a {

}

#footer {
	position:fixed;
	color: #fff;
	width:100%;
	height:auto;
	left:0px;
	bottom: 8%;
	padding: 10px 20px 10px 20px;
	font-size: 100%;
	background: url(../images/background.png) top left repeat;
	font-weight:normal;
	font-family: "Monoxil", "Menlo", monospace;
	text-align: left;
	letter-spacing: 3px;
	vertical-align: middle;
}

#footer a {
	color: #fff;
	font-size: 60%;
	text-decoration: none;
	vertical-align: middle;
	border-bottom: 1px solid #fff;
}
